.popup__button-close {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: 32px; 
  height: 32px; 
  transition: opacity .2s ease-in-out;
  background-image: url(../../../images/icon-close.svg);
  background-color: transparent;
  background-size: cover;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.popup__button-close:hover {
  opacity: .6; 
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
  }
}