.elements__item_theme_karachaevsk {
  background-image: url(../../../../images/karachaevsk-kirill-pershin-improved.jpg);
  background-size: 100% 282px;
  background-repeat: no-repeat;
  background-position: top;
}


