.popup__button-close {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;  
  transition: opacity .2s ease-in-out;
}

.popup__button-close:hover {
  opacity: .6; 
}

@media screen and (max-width: 768px) {
  .popup__button-close {
    width: 20px;
  }
}